DWS/ServiciosWeb/Si/and/nueva/servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/ejercicios/nueva" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ejercicios/nueva">
<wsdl:types>
<xsd:schema targetNamespace="http://localhost/ejercicios/nueva"/>
</wsdl:types>
<wsdl:message name="getPvPRequest">
<wsdl:part name="cod" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="getPvPResponse">
<wsdl:part name="getPvPReturn" type="xsd:float"/>
</wsdl:message>
<wsdl:message name="getStockRequest">
<wsdl:part name="cod" type="xsd:string"/>
<wsdl:part name="tienda" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="getStockResponse">
<wsdl:part name="getStockReturn" type="xsd:int"/>
</wsdl:message>
<wsdl:message name="getFamiliasRequest"/>
<wsdl:message name="getFamiliasResponse">
<wsdl:part name="getFamiliasReturn" type="soap-enc:array"/>
</wsdl:message>
<wsdl:message name="getProductosFamiliaRequest">
<wsdl:part name="familia" type="xsd:string"/>
</wsdl:message>
<wsdl:message name="getProductosFamiliaResponse">
<wsdl:part name="getProductosFamiliaReturn" type="soap-enc:array"/>
</wsdl:message>
<wsdl:portType name="ProductoPortType">
<wsdl:operation name="getPvP">
<wsdl:documentation>Esta función recibirá como parámetro el código de un producto, y devolverá el PVP correspondiente al mismo.</wsdl:documentation>
<wsdl:input message="tns:getPvPRequest"/>
<wsdl:output message="tns:getPvPResponse"/>
</wsdl:operation>
<wsdl:operation name="getStock">
<wsdl:documentation>Esta función recibirá dos parámetros: el código de un producto y el código de una tienda. Devolverá el stock existente en dicha tienda del producto.</wsdl:documentation>
<wsdl:input message="tns:getStockRequest"/>
<wsdl:output message="tns:getStockResponse"/>
</wsdl:operation>
<wsdl:operation name="getFamilias">
<wsdl:documentation>No recibe parámetros y devuelve un array con los códigos de todas las familias existentes.</wsdl:documentation>
<wsdl:input message="tns:getFamiliasRequest"/>
<wsdl:output message="tns:getFamiliasResponse"/>
</wsdl:operation>
<wsdl:operation name="getProductosFamilia">
<wsdl:documentation>Recibe como parámetro el código de una familia y devuelve un array con los códigos de todos los productos de esa familia.</wsdl:documentation>
<wsdl:input message="tns:getProductosFamiliaRequest"/>
<wsdl:output message="tns:getProductosFamiliaResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ProductoBinding" type="tns:ProductoPortType">
<soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getPvP">
<soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/ejercicios/nueva/servicio.php?method=getPvP" style="rpc"/>
<wsdl:input>
<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getStock">
<soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/ejercicios/nueva/servicio.php?method=getStock" style="rpc"/>
<wsdl:input>
<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getFamilias">
<soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/ejercicios/nueva/servicio.php?method=getFamilias" style="rpc"/>
<wsdl:input>
<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="getProductosFamilia">
<soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/ejercicios/nueva/servicio.php?method=getProductosFamilia" style="rpc"/>
<wsdl:input>
<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:input>
<wsdl:output>
<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Producto">
<wsdl:documentation/>
<wsdl:port name="ProductoPort" binding="tns:ProductoBinding">
<soap-env:address location="http://localhost/ejercicios/nueva/servicio.php"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>